[submodule "test/data"]
	path = test/data
	url = https://github.com/AstropathJHU/alignmentjenkinsdata.git
[submodule "astropath/hpfs/merge/funcs/MaSS"]
	path = astropath/hpfs/merge/funcs/MaSS
	url = https://github.com/AstroPathJHU/MaSS.git
	shallow = true
[submodule "astropath/utilities/ConvertIm3"]
	path = astropath/utilities/ConvertIm3
	url = https://github.com/AstroPathJHU/ConvertIm3
