*.pdf
*.aux
*.out
*.synctex(busy)
!alignment-result-AKY-[1-4].pdf
!diamondpull1.pdf
!diamondpull2.pdf
!sine-wave-[24]-[xy][xy]-[1-2].pdf
!sine-wave-[24]-[xy][xy]-AKY.pdf
!sine-wave-[24]-[xy][xy]-BMS.pdf
!sine-wave-[24]-[xy][xy]-JHUPolaris.pdf
!squarepull1.pdf
!squarepull2.pdf
!stitch-pull-[1-4]-[1-2].pdf
!stitch-result-AKY-[1-4].pdf
